* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  object-fit: cover;
}

#search-form {
  display: flex;
  justify-content: center;

  margin-bottom: 16px;
  padding: 8px;

  background-color: rgb(32, 154, 224);
}

#search-form > input {
  display: block;
  min-width: 200px;
  height: 40px;

  margin-right: 15px;
  padding-left: 8px;
  border-radius: 4px;
  border: none;
}

#search-form > button {
  min-width: 100px;
  height: 40px;
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: rgb(87, 230, 141);
}

/* #search-form > button:hover,
#search-form > button:focus {
  background-color: rgb(47, 180, 98);
} */

button.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 40px;
  border-radius: 4px;
  border: none;

  margin-right: auto;
  margin-left: auto;

  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: rgb(164, 212, 231);
}

/* button.load-more:hover,
button.load-more:focus {
  background-color: rgb(99, 164, 190);
} */

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-right: -15px;
}

.gallery__item {
  display: block;
  text-decoration: none;
  color: inherit;

  margin-right: 15px;
  margin-bottom: 15px;

  border: 1px solid rgba(127, 128, 123, 0.26);
}

.gallery__item:hover,
.gallery__item:focus {
  transition-property: box-shadow;
  transition-duration: 300ms;

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 6px 6px rgba(0, 0, 0, 0.06),
    2px 6px 8px rgba(0, 0, 0, 0.16);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 14px;
}

.info-item:not(:last-child) {
  margin-right: 18px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
